@import "../../responsive.scss";

.listPage {
  display: flex;
  height: 100%;
  padding-bottom: 70px;


  .listContainer {
    flex: 3;
    height: 100%;
    padding-left: 45px;
    background-color: #F9F9F9;

    .wrapper{
      height: 100%;
      padding-right: 50px;
      display: flex;
      flex-direction: column;
      gap: 50px;
      overflow-y: scroll;
      padding-bottom: 50px;
      padding-top: 20px;
    }
  }
  .mapContainer {
    flex: 2;
    height: 100%;
    background-color: #F9F9F9;
    padding-top: 15px;
    padding-bottom: 15px;

    @include md{
      display: none;
    }
  }
}
